.cproject
.project
*.clustercenters
*.xml
*.log
*.o
machineVisionTool
ztest
*.class
aap.jpg
src/imageHandling.h
label-index-subset
runtime
.DS_Store
bla.bin descy.bin
desc/
TAGS
java_src/imageHandling.h
*.jpg
*.png
*.bin
*.svm
*.model
settings/*
*~
*.txt
libs/libsvm-3.0/svm-predict
libs/libsvm-3.0/svm-scale
libs/libsvm-3.0/svm-train